
[Unit]
Description=GoCD Server
After=network.target
Wants=network.target

[Service]
User=gocd-server
Group=gocd-server
EnvironmentFile=-/etc/conf.d/gocd-server
ExecStart=/usr/bin/java $JAVA_OPTS -jar /usr/share/gocd-server/go.jar $GO_SERVER_OPTS
WorkingDirectory=/var/lib/gocd-server
Restart=always
RestartSec=20

[Install]
WantedBy=multi-user.target
