
[Unit]
Description=GoCD Agent
After=network.target
Wants=network.target

[Service]
user=gocd-agent
group=gocd-agent
EnvironmentFile=/etc/conf.d/gocd-agent
ExecStart=/usr/bin/java -jar /usr/share/gocd-agent/agent-bootstrapper.jar
WorkingDirectory=/var/lib/gocd-agent
Restart=always
RestartSec=20

[Install]
WantedBy=multi-user.target
